{% extends 'base.html' %}

{% block content %}

<h1 style="color:#FFFF"><center>Welcome to my page!!!</center></h1>

<br><br>

<h5 style="color:#FFFF">Hi and welcome to my page. My name is Renato and I am 18 years old.</h5>
<br>
<h5 style="color:#FFFF">I'm really interested in creating short timed programs to test my knowledge on programming and help me write code much faster.</h5>
<br>
<h5 style="color:#FFFF">I want to study at newcastle and am hoping to be able to start their in September 2021</h5>
<br><br>
<h5 style="color:#FFFF">Although there isn't much, I hope this page helps you discover more about me and my interests.</h5>
<br><br><br>
<font size="3" color="#000000"><strong>Disclaimer: This page will be updated on an irregular bases therefore new content may not be published often</strong></font>

{% endblock %}
