{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="daniil-intro-styling">
	<div class="daniil-intro-title">
		<p class="daniil-intro-text">Who is Daniil Lebedev?</p>
	</div>
	<div class="separator"></div>
	<div class="daniil-intro-small">
		<p class="daniil-intro-small-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
	<div class="meet-daniil">
	<div class="meet-daniil-title">
		<p><b>A little about me...</b></p>
	</div>
	<div class="meet-daniil-card-container">
		<div class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#FFFF;font-family: 'Cabin', sans-serif;background: hsla(187, 100%, 40%, 1);background: linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);background: -moz-linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);background: -webkit-linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00B2CA", endColorstr="#7DCFB6", GradientType=1 );">
		  <img class="card-img-top" src="{% static 'daniil-images/Russia-flag.png' %}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Where am I from?</h5>
		    <p class="card-text">I am from Moscow, Russia but I live in the UK. I lived here for almost 7 years now!</p>
		  </div>
		  <div class="card-body">
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		<div class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#FFFF;font-family: 'Cabin', sans-serif;background: hsla(187, 100%, 40%, 1);background: linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);background: -moz-linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);background: -webkit-linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00B2CA", endColorstr="#7DCFB6", GradientType=1 );">
		  <img class="card-img-top" src="{% static 'daniil-images/thinking.png' %}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">My interests</h5>
		    <p class="card-text">I really like IT and history. I enjoy a bit of web design and anything to do with computer components.</p>
		  </div>
		  <div class="card-body">
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		<div class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#FFFF;font-family: 'Cabin', sans-serif;background: hsla(187, 100%, 40%, 1);background: linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);background: -moz-linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);background: -webkit-linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00B2CA", endColorstr="#7DCFB6", GradientType=1 );">
		  <img class="card-img-top" src="{% static 'daniil-images/school.png' %}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">My education</h5>
		    <p class="card-text">I just graduated from Dwight School London and now I want to go to Newcastle University.</p>
		  </div>
		  <div class="card-body">
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
		<div class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#FFFF;font-family: 'Cabin', sans-serif;background: hsla(187, 100%, 40%, 1);background: linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);background: -moz-linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);background: -webkit-linear-gradient(90deg, hsla(187, 100%, 40%, 1) 0%, hsla(162, 46%, 65%, 1) 100%);filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00B2CA", endColorstr="#7DCFB6", GradientType=1 );">
		  <img class="card-img-top" src="{% static 'daniil-images/tennis.png' %}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">My hobbies</h5>
		    <p class="card-text">I like to play tennis and golf at my free time. I also love to read history and programming books.</p>
		  </div>
		  <div class="card-body">
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>
	</div>
</div>
<div class="daniil-skills">
	<div class="meet-daniil-title">
			<p><b>My skills</b></p>
		</div>
		<div class="daniil-skills-container">

			<div class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px">
			  <img class="card-img-top" src="{% static 'daniil-images/snake.png' %}" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Python</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>

			<div class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px">
			  <img class="card-img-top" src="{% static 'daniil-images/rocket.png' %}" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">HTML and CSS</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>

			<div class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px">
			  <img class="card-img-top" src="{% static 'daniil-images/yellow.png' %}" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">JS</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>

			<div class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px">
			  <img class="card-img-top" src="..." alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">SQLite</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>

		</div>
	</div>
	<!---Comment--->
</div>

{% endblock %}