@media (min-width: 375px) {
  :root {
    --size-divisor: 2;
  }
}

@media (min-width: 576px) {
  :root {
    --size-divisor: 3;
  }
}
@media (min-width: 768px) {
  :root {
    --size-divisor: 1.5;
  }
}
@media (min-width: 992px) { 
  :root {
    --size-divisor: 1;
  }
}
@media (min-width: 1200px) { 
  :root {
    --size-divisor: 1;
  }
}



.body{
	font-family: 'Cabin', sans-serif;
	background: rgb(2,0,36);
	background: linear-gradient(177deg, rgba(2,0,36,1) 0%, rgba(29,78,137,1) 49%, rgba(125,207,182,1) 100%); 
}

.team-name{
	color:#FFFF;
	align-content: center;
	margin-top: 25px;
}

.team-title{
	margin-top: 55px;
	text-align: center;
	animation-name: title;
	animation-duration: 3s;
}

.site-slogan{
	margin-top:calc(100px / var(--size-divisor));
	align-self: center;
	margin-bottom:calc(555px/var(--size-divisor));
	animation-name: title;
	animation-duration: 3s;
}

@keyframes title {
  from {opacity: 0%}
  to {opacity: 100%}
}


.site-slogan-text{
	margin:auto;
	height:calc(160px / var(--size-divisor));
	width:calc(750px / var(--size-divisor));
	text-align: center;
	font-size:calc(95px / var(--size-divisor));
	color:#FFFF;
}


.we-are{
	margin-top:25px; 
	background-color:#7DCFB6;
	height:650px;
	width:auto;
}

.we-are-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: auto;
}


.we-are-title{
	margin-top:calc(235px / var(--size-divisor));
	margin-left: auto;
	margin-right: auto;
	height:calc(200px / var(--size-divisor));
	width:calc(420px / var(--size-divisor));
	color:#FFFF;
	font-size:calc(85px / var(--size-divisor));
	text-align: center;
}

.we-are-text{
	margin-top:calc(235px / var(--size-divisor));
	margin-left: auto;
	margin-right: auto;
	height:190px;
	width:700px;
	color:#FFFF;
	font-size:calc(45px / var(--size-divisor));
	text-align: center;
	align-self: center;
}

.meet-the-team{
	background-color:#00B2CA;
	width: auto;
	height: auto;
}

.meet-the-team-title{
	font-size:calc(75px / var(--size-divisor));
	color:#FFFF;
	text-align: center;
}

.meet-the-team-card-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
}

.

.blog{
	margin-top: 35px;
	margin-bottom: 25px;
	color: #FFFF;
	align-content: center;
	align-self: center;
}